<h3>Ver lista de produtos</h3>
<div>
  <div>
    <label> <b> Nome: </b></label> {{ produto.nome_produto }}
  </div>
  <div>
    <label> <b> Valor: </b></label> {{ produto.valor_produto }}
  </div>
  <div>
    <label> <b> Categoria: </b></label> {{ produto.categoria_id }}
  </div>
  <div>
    <label> <b> Data de vencimento: </b></label> {{ produto.data_vencimento}}
  </div>
  <div>
    <label> <b> Quantidade em estoque: </b></label> {{ produto.quantidade_estoque }}
  </div>
  <div>
    <label> <b> Produto perecivel: </b></label> {{ produto.produto_perecivel }}
  </div>
</div>
