@import "~bootstrap/dist/css/bootstrap.min.css";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(189, 66, 88);
  text-align: center;
  color: white;
}

.btn {
  color: white;
}

.botao {
  background-color: #169f16;
}
.botao:hover {
  background-color: #008000;
}
